* {
  margin: 0;
}
html {
  font-family: Roboto, Arial;
  background-color: var(--background);
  margin: 0 16px;
  padding-top: 80px;
  padding-left: 80px;
}

:root {
  --background: rgb(15, 15, 15); 
  --title: rgb(241, 241, 241);
  --details: rgb(170, 170, 170);
}
