.video-container-grid {
  display: grid;
  grid-template: auto / repeat(3, 1fr);
  gap: 40px 16px;
}
.thumbnail-row {
  margin-bottom: 8px;
  cursor: pointer;
  position: relative;
}
.thumbnail {
  width: 100%;
  border-radius: 8px;
}
.video-duration {
  position: absolute;
  right: 4px;
  bottom: 8px;
  color: white;
  background-color: rgba(0, 0, 0, .7);
  padding: 2px 4px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 4px;
}
.video-info-grid {
  display: grid;
  grid-template: auto / 50px 1fr;
  cursor: pointer;
}
.channel-picture {

}
.profile-picture {
  width: 40px;
  border-radius: 50%;
}
.video-info {

}
.video-title {
  margin-bottom: 6px;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: var(--title);
  cursor: pointer;
}
.video-channel, .video-stats {
  line-height: 20px;
  margin: 0;
  color: var(--details);
  font-size: 14px;
  transition: color .3s ease;
}
.video-channel:hover {
  color: var(--title);
}